@tailwind base;
@tailwind components;
@tailwind utilities;

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.fade-down {
  animation: fadeDown 0.2s linear;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

label {
  font-weight: 500;
}

.ql-editor {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto !important;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #b2babb;
  border-radius: 8px;
  transition: all 0.2s ease;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: #7f8c8d;
}
